*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    height: 500px;
    margin-top: 50px;
    background-color: rgb(224, 224, 224);
    box-shadow: 5px 5px 20px;
}

section{
    margin-bottom: 25px;
}

/* ROW */
.row{
    width: 100%;
    height: calc(100% / 5);
    display: flex;
    flex-wrap: wrap;
}
.mini-row{
    width: 100%;
    height: calc(100% / 10);
    display: flex;
}

/* COL */
.col-1{
    flex-basis: calc(100% / 5 * 1);
    height: 100%;
}
.mini-col{
    flex-basis: calc(100% / 10);
    height: 100%;
}

/* COLORS   */
.b{
    background-color: black;
}
.g{
    background-color: green;
}
.y{
    background-color: rgb(230, 230, 0);
}