*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
}

/* ROW */
.row{
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
}
.row-double{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

/* COL */
.col-1{
    flex-basis: calc(100% / 12 * 1);
    height: 100%;
}
.col-2{
    flex-basis: calc(100% / 12 * 2);
    height: 100%;
}
.col-3{
    flex-basis: calc(100% / 12 * 3);
    height: 100%;
}
.col-4{
    flex-basis: calc(100% / 12 * 4);
    height: 100%;
}
.col-5{
    flex-basis: calc(100% / 12 * 5);
    height: 100%;
}
.col-6{
    flex-basis: calc(100% / 12 * 6);
    height: 100%;
}
.col-7{
    flex-basis: calc(100% / 12 * 7);
    height: 100%;
}
.col-8{
    flex-basis: calc(100% / 12 * 8);
    height: 100%;
}
.col-9{
    flex-basis: calc(100% / 12 * 9);
    height: 100%;
}
.col-10{
    flex-basis: calc(100% / 12 * 10);
    height: 100%;
}
.col-11{
    flex-basis: calc(100% / 12 * 11);
    height: 100%;
}
.col-12{
    flex-basis: 100%;
    height: 100%;
}
