*{
    margin: 0;
    padding: 0;
}

.container-fluid{
    width: 100%;
}

/* ROW */
.row{
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
}
.row-double{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

/* COL */
.col-1{
    width: calc(100% / 12 * 1);
    height: 100%;
}
.col-2{
    width: calc(100% / 12 * 2);
    height: 100%;
}